*{
	font-family: 'Cuprum', sans-serif;
	color: #000;
}
a{
	color: #553200;
}
a:hover{
	color: #331e00;
}
img{
	width: 100%;
}
html{
	height: 100%;
}
body{
	padding-top: 160px;
	height: 100%
}

/**[class^='col'],div[class*=' col']{ 
	padding:10px;
}*/

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: bold;
}

/*HEADER DINAMICO FULL*/

#site-header.full-header{
	padding-top: 40px;
	background: url('../img/header-bg-3.jpg');
	height: 140px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 10;
}
.full-header #site-logo-container{
	margin-top: -15px;
}
.full-header #site-logo{
	background: url('../img/inkedin-logo.png') no-repeat;
	height: 123px;
	background-size: contain;
	width: 75%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.full-header #site-logo a{
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}
.full-header #site-tools{
	margin-top: 10px;
}
.full-header #site-tools > ul{
	padding: 0;
	border-top: 1px solid #000;
	box-shadow: 0px -2px 0px 0px #fff, 0px -7px 0px 0px #000;
	margin-top: 2px;
	padding-top: 10px;
	margin-right: 0;
	margin-left: 0;
}
.full-header #site-tools > ul li{
	list-style-type: none;
	float: left;
	text-align: right;
}
.full-header #site-tools #searchbox{
	position: relative;
}
.full-header #site-tools #search-box{
	position: relative;
	padding-right: 20px;
}
.full-header #site-tools #search-box input[type="text"]{
	width: 100%;
	border-top: 2px solid rgba(0,0,0,0.3);
	border-left: 2px solid rgba(0,0,0,0.3);
	border-right: 2px solid rgba(255,255,255,0.3);
	border-bottom: 2px solid rgba(255,255,255,0.3);
	border-radius: 3px;
	background: rgba(255,255,255,0.3)
}
.full-header #site-tools #search-box input[type="submit"]{
	position: absolute;
	right: 23px;
	top: 3px;
	background: #000 url('../img/search-icon.png') no-repeat 1px 1px;
	border: none;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
.full-header #site-tools #search-box input[type="submit"]:hover,
.full-header #site-tools #search-box input[type="submit"]:active{
	position: absolute;
	right: 23px;
	top: 3px;
	background: #000 url('../img/search-icon.png') no-repeat -17px 1px;
	border: none;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
/* USER MENU LOGGED IN */
.full-header .user-menu-buttons-container{
	padding-right: 0;
}
.full-header .user-menu-name{
	font-size: 16px;
	margin: 0;
}
.full-header .user-menu-buttons{
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	padding: 0;	
}

#messages-alert{
	  background: rgba(175, 115, 42, 0.35);
	  padding: 2px 5px;
	  margin-right: -4px;
}


.full-header .user-menu-buttons li{
	padding: 0 8.2px;
	border-right: 1px solid rgba(0,0,0,0.1);
}
.full-header .user-menu-buttons li:last-child{
	border-right: none;
}
.full-header .user-menu-buttons li a{
	color: #000;
}	
/* NAV */
.full-header nav{
	margin-top: 10px;
	/*border-top: 3px solid #000;*/
}
.full-header nav ul{
	padding: 0;
	border-top: 1px solid #000;
	box-shadow: 0px -2px 0px 0px #fff, 0px -7px 0px 0px #000;
	margin-top: 2px;
	padding-top: 5px;
}
.full-header nav ul li{
	list-style-type: none;
	float: left;
	background: url('../img/nav-divider.png') no-repeat right;
	padding-right: 30px; 
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 30px;
}
.full-header nav ul li:last-child{
	background: none;
	padding-right: 0;
}
.full-header nav ul li:first-child{
	padding-left: 0;
}
.full-header nav ul li a{
	color: #000;
}
.full-header nav ul li a:hover{
	color: #000;
}
/* END NAV */

/*END HEADER FULL*/

/*HEADER DINAMICO SMALL*/
#site-header.small-header{
	background: url('../img/header-bg-3.jpg') 0 -77px;
	height: 50px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 10;
}
.small-header #site-logo-container{
	margin-top: -15px;
}
.small-header #site-logo{
	background: url('../img/inkedin-logo.png') no-repeat;
	height: 83px;
	background-size: contain;
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.small-header #site-logo a{
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}
.small-header #site-tools{
}
.small-header #site-tools > ul{
	padding: 0;
	margin-top: 2px;
	padding-top: 10px;
	margin-right: 0;
	margin-left: 0;
}
.small-header #site-tools > ul li{
	list-style-type: none;
	float: left;
	text-align: right;	
}
.small-header #site-tools #searchbox{
	position: relative;
}
.small-header #site-tools #search-box{
	position: relative;
	padding-right: 20px;
}
.small-header #site-tools #search-box input[type="text"]{
	width: 100%;
	border-top: 2px solid rgba(0,0,0,0.3);
	border-left: 2px solid rgba(0,0,0,0.3);
	border-right: 2px solid rgba(255,255,255,0.3);
	border-bottom: 2px solid rgba(255,255,255,0.3);
	border-radius: 3px;
	background: rgba(255,255,255,0.3)
}
.small-header #site-tools #search-box input[type="submit"]{
	position: absolute;
	right: 23px;
	top: 3px;
	background: #000 url('../img/search-icon.png') no-repeat 1px 1px;
	border: none;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
.small-header #site-tools #search-box input[type="submit"]:hover,
.small-header #site-tools #search-box input[type="submit"]:active{
	position: absolute;
	right: 23px;
	top: 3px;
	background: #000 url('../img/search-icon.png') no-repeat -17px 1px;
	border: none;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}
/* USER MENU LOGGED IN */
.small-header .user-menu{
	margin-top: -7px;
}
.small-header .user-menu-buttons-container{
	padding-right: 0;
}
.small-header .user-menu-name{
	font-size: 16px;
	margin: 0;
}
.small-header .user-menu-buttons{
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	padding: 0;	
}
.small-header .user-menu-buttons li{
	padding: 0 8.2px;
	border-right: 1px solid rgba(0,0,0,0.1);
}
.small-header .user-menu-buttons li:last-child{
	border-right: none;
}
.small-header .user-menu-buttons li a{
	color: #000;
}	
/* NAV */
.small-header nav{

}
.small-header nav ul{
	padding: 0;
	margin-top: 5px;
	margin-bottom: 0;
}
.small-header nav ul li{
	list-style-type: none;
	float: left;
	background: url('../img/nav-divider.png') no-repeat right;
	padding-right: 30px; 
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 30px;
}
.small-header nav ul li:last-child{
	background: none;
	padding-right: 0;
}
.small-header nav ul li:first-child{
	padding-left: 0;
}
.small-header nav ul li a{
	color: #000;
}
.small-header nav ul li a:hover{
	color: #000;
}
/* END NAV */


/*END HEADER SMALL*/
/*--------------------------------*/



/* TRANSITION  HEADERS */

header, header *{
  transition: all 0.5s;
  -moz-transition: all 0.5s; 
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; 
}


/*---------------------------*/
.full{
	padding:0;
}
.border-img{
	border: 10px solid #f0ddaf;
}
.light-bg{
	background-color: #f0ddaf;
}
.id-container{
	position: relative;
}
.id-buttons{
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	padding: 4px 7px;
	-webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background 0.5s;
    text-shadow: 0 0 2px rgba(255,255,255,0.2);
    text-transform: uppercase;
	font-size: 18px;
}
.id-buttons:hover{
	text-decoration: none;
	background: rgba(0,0,0,0.2);
	color: #000;
	text-shadow: 0 0 2px rgba(255,255,255,0.3);
}
.id-buttons:active,
.id-buttons:visited,
.id-buttons:link{
	text-decoration: none;
	color: #000;
}
.login-container{
	text-align: left;
	position: absolute;
	background: rgba(240,221,175,0.9);
	padding: 10px;
	right: 0;
	margin-top: 10px;
	display: none;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.login-container label{
	display: block;
	margin-bottom: 0;
}
.login-container input[type="text"],
.login-container input[type="password"]{
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.login-container #submit-login{
	margin-top: 10px;
}
.fb-btn-container{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #553200;
}
.pic-sq-grid{
	padding-bottom: 15px;
	padding-top: 15px;
}
.inner-pic-sq-grid{
	position: relative;
}

.inner-pic-sq-grid:hover .pic-details{
	visibility:visible;
    opacity:1;
    transition-delay:0s;
}
.pic-details{
	position: absolute;
	bottom: 0;
	background: rgba(240,221,175,0.8);
	padding: 10px;
	width: 100%;
	visibility:hidden;
    opacity:0;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.pic-details-block{
	position: static;
	visibility: visible;
	opacity: 1;
	background: #f0ddaf;
	padding: 10px 0 0 0;
}
.owner-container{
	padding: 0;
	margin: 0
}
.owner-container li{
	list-style-type: none;
	float: left;
}
.owner-pic{
	width: 50px;
	margin-right: 10px;
}
.owner-detail h2{
	margin-top: 7px;
	margin-bottom: 3px;
	font-size: 18px;
}
.owner-detail p{
	margin-bottom: 0;
}
/*------------------*/

#wrapper{
	min-height: 100%;
	position: relative;
}
#site-footer{
	background: url('../img/footer-bg.jpg');
	padding-top: 30px;
	padding-bottom: 30px;
	height: 290px;
	position:absolute;
    bottom:0;
    width:100%;
}
#site-footer h3{
	margin-top: 0;
	font-size: 18px;
	text-transform: uppercase;
}
#site-footer ul{
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
}
#site-footer ul li{
	list-style-type: none;
}
#site-footer ul li a{
	/*color: #000;*/
}
#site-footer ul li a:hover{
	color: #000;
}

#site-social{
	padding: 0;
}
#site-social li{
	list-style-type: none;
	float: left;
	margin-right: 10px;
}
#site-content{
	padding-bottom: 320px;
}
#footer-tags-2{
	padding-top: 29px;
}



/* ----------------------- */
/* PROFILE */
.profile-section{
	border-top: 1px solid #c99241;
	padding-top: 5px;
	margin-top: 5px;
}
.btn-profile{
	font-size: 16px;
	margin-bottom: 10px;
}
.btn-profile span{
	margin-left: 5px;
}
.border-divider{
	border-bottom: 1px solid #c99241;
	margin-bottom: 10px;
}
.menu-profile ul{
	padding: 0;
}
.menu-profile ul li{
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
}
#profile-rating-container{
	padding-bottom: 10px;
}
#profile-rating-container .rating{
	float: left;
}
#profile-rating-container .rate{
	background: url('../img/star-rating-bg.png') no-repeat;
	background-size: contain;
	width: 70px;
	height: 70px;
	text-align: center;
	margin-right: 20px;
}
#profile-rating-container .rating-scale{
	padding: 11px 0 0 0;
}
#profile-rating-container .rating-scale li{
	list-style-type: none;
	/*TODO*/
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}
#profile-rating-container .rate span{
	display: inline-block;
	margin-top: 25px;
	font-weight: bold;
	font-size: 20px;
}
#container-cover-pic{
	margin-top: -140px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
#inner-container-cover-pic{
	width: 100%;
	height: 100%;
	position: relative;
}
#inner-container-cover-pic a{
	display: block;
}
#inner-container-cover-pic a::after{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    box-shadow:inset 0px 0px 30px 5px #000;
}
#cover-pic{
	position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}
#profile-left-col{
	position: relative;
	margin-top: -200px;
	min-height: 790px;
}
#profile-left-col .profile-absolute{
	position: absolute;
	bottom: 0px;
}
#profile-left-col .profile-fixed{
	position: fixed;
	top: 80px;
	width: 262px;
}
#profile-left-col .profile-absolute{
	position: absolute;
	top: 269px;
	width: 262px;
}
#profile-pic-container{
	margin: 0 0 10px 10px;
	/* border-radius: 50%; */
	overflow: hidden;
}
#artist-info-container{
	padding: 10px;
}
#artist-info-container h2{
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 22px;
}
#artist-info-container dt{
	text-transform: uppercase;
	font-size: 12px;
}
#artist-info-container dd{
	margin-bottom: 5px;
}
#artist-info-container #map{
	height: 200px;
	background: #c99241;
}
#side-content-profile{
	margin-top: 69px;
}
/* END PROFILE */
/*---------------------------------*/
/*ALBUM*/
.album-container h3{
	position: absolute;
	bottom: 0;
	background: rgba(240,221,175,0.8);
	padding: 10px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	margin: 0
}
/* END ALBUM*/

/*--------------------------------*/

/*PHOTO - MODAL */
.modal-tools{
	margin-top: 10px;
}
/*overwrite bootstrap*/
.modal-backdrop{
	background-color: #fff;
}
.modal-backdrop.in {
	opacity: .85;
}
.modal-content{
	background-color: #f0ddaf;
	border-radius: 0;
}

/*-----------------------*/

/*REGISTER */
.register-wrapper{
	padding: 10px;
	border-left: 1px solid #f0ddaf;
}
.register-wrapper label{
	font-size: 16px;
	display: inline-block;
	margin-bottom: 5px;
}
.register-fb-container{
	margin-bottom: 20px;
	padding: 20px 150px;
	background: linear-gradient(rgba(240,221,175,0.2), rgba(240,221,175,0.4));
	border-bottom: 1px solid #f0ddaf;
}
.input-container{
	position: relative;
}
.input-container-inner{
	width: 70%;
}
.input-container-inner:hover +.info-input{
	display: block;
}
.info-input{
	width: 28%;
	margin: 0;
	position: absolute;
	right: 0;
	top: 27px;
	background: #f0ddaf;
	padding: 3px 8px;
	display: none;
}
.info-input:before{	
	content: " ";
	display: inline-block;
	margin-right: 6px;
	margin-left: -16px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 10px solid #f0ddaf; 
}
.register-wrapper input[type="text"],
.register-wrapper input[type="password"],
.register-wrapper input[type="email"]{
	display: block;
	margin-bottom: 20px;
	width: 100%;
}
.register-wrapper input[type="submit"]{
	display: block;
	margin:0 auto;
}
.register-wrapper .terms{
	text-align: center;
	margin: 10px 0;
}
.side-register{
	margin-top: -120px;
	margin-bottom: -20px;
	padding: 110px 15px 15px 15px;
	border-left: 1px solid #c99241;
	border-bottom: 1px solid #c99241;
}
.side-register img{
	opacity: 0.3;
	display: block;
	margin: 0 auto;
	width: 70%;
}
.side-register h3{
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
}
.side-register .login-button{
	padding-bottom: 10px;
	border-bottom: 1px solid #c99241;
	border-top: 1px solid #c99241;
}

/*---------------------------*/
/* SEARCH RESULT */

.artist-details{
	position: absolute;
	bottom: 0;
	background: rgba(240,221,175,0.8);
	padding: 10px;
	width: 100%;
}
.divider-artists-photos{
	border-left: 1px solid #c99241;	
	background: linear-gradient(to left, rgba(240,221,175,0.1), rgba(240,221,175,0.5));
}
/*---------------------------*/
/* SEARCH PHOTO */
.artists-filter select{

}
.input-search{
	width: 300px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.input-search-sm{
	width: 200px;
}
.loading-gif{
	width: 16px;
}

.modal-body .btn-save-photo{
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0.2;
	top: 20px;
	right: 20px;
	opacity: 0.2;
	transition: opacity 0.5s;
}
.modal-body .btn-save-photo:hover{
	opacity: 1;
}