#load-more-photos,
#load-more-users{
	display: block;
	margin: 15px auto 10px;
	/*margin: 0 auto 10px;*/
}
#search-user-filters li{	
	list-style-type: none;
	float: left;
	padding: 5px;
	position: relative;
}
#search-user-filters li:nth-child(1),
#search-user-filters li:nth-child(2){
	width: 25%;
	padding-top: 0px;
}
#search-user-filters li label{
	margin: 0;
	font-size: 11px;
	position: absolute;
}
#search-user-filters li select{
	margin-top: 16px;
}
#search-user-filters li:nth-child(3){
	width: 50%;
	padding-top: 15px;
}
#search-user-filters select{
	width: 100%;
	max-width: 100%;
}
#search-user-filters{
	padding: 0;
	margin: 0;
}
.rate{
	background: url('../img/star-rating-bg.png') no-repeat;
	background-size: contain;
	width: 70px;
	height: 70px;
	text-align: center;
	position: absolute;
	top: -25px;
	left: -25px;
	z-index: 7;
}
.rate span {
	display: inline-block;
	margin-top: 25px;
	font-weight: bold;
	font-size: 20px;
}

.total-votes{
	position: absolute;
	top: -5px;
	left: 5px;
	background: #000;
	padding: 0 5px 0 48px;
	z-index: 5;
	color: #fff;
}

#users-result-container .bg,
#section-results-box.bg,
#section-results-box .bg{
	background-color: rgb(240, 221, 175);
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
	
}

.box-tools{
	padding: 10px;
}
.box-tools h2{
	margin: 0 10px 0 0;
	float: left;
}
.box-tools form{
	float: left;
}
.header-search >div{
	float: left;
	/* min-width: 487px; */
	width: auto;
}
.header-search >div> button{
	float: right;
}
.header-search >div> div{
	float: right;
	margin-left: 10px;
}
.header-search > div h2{
	font-size: 14px;
	display: inline-block;
	margin: 10px 5px 0 0;
}
.header-search > div p{
	font-size: 14px;
	display: inline-block;
	margin: 0
}
.artists-box >div {
	padding: 10px;
}

@media (max-width: 1200px){}
@media (max-width: 992px){}
@media (max-width: 767px){
	.header-search >div> button{
		float: none;
	}
	.header-search >div> div{
		float: none;
	}
	#users-result-container .bg,
	#section-results-box.bg,
	#register-wrapper .bg {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.artists-box >div>form input[type="submit"] {
		display: block;
		width: 100%;
	}
}
@media (max-width: 600px){
	.box-tools form,
	.box-tools .input-search{
		width: 100%;
	}
	.box-tools .input-search{
		margin: 10px 0;
	}
	.box-tools input[type="submit"]{
		display: block;
		width: 100%;
	}
}
@media (max-width: 320px){}