.tab-pane{
	padding-top: 10px;
}
.msg-ajax{
	text-align: center;
	padding: 10px;
	background: linear-gradient(to bottom, rgba(240, 221, 175, 0.196), rgba(240, 221, 175, 0.400)) transparent;
	display: none;
}
.msg-ajax ul{
	text-align: left;
}

/* --- About me --- */
label.block{
	display: block;
}
textarea{
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: 90px;
	resize: none;
}
.styles-container{
	padding: 0;
	list-style-type: none;
}

#finish-album{
	display: none;
	margin: 0 auto 20px;
}

