.inked.profileview .photo-tags strong,
.inked.profileview .photo-tags span{
	color: rgba(0,0,0,0.6);
}

/* Comments ======== */

.comments-section{
  border-bottom: 1px solid #c99241;
  padding-top: 5px;
  margin-top: 5px;
}

#profile-mid-col .pic-sq-grid{
	/* background: rgba(240,221,175,0.8); */
	margin-bottom: 15px;
}

#profile-mid-col .comment-profile{
  border-top: 1px solid #c99241;
  height: auto;
  padding: 10px 0 0 0;
}

#comments_modal textarea{
	width: 100%;
	min-height: 125px;
}

#comments_modal .modal-header,
#comments_modal .modal-footer{
	border: none;
}

.owner-detail dl{
	margin-bottom: 0;
}

.owner-comment{
	margin-bottom: 10px;
}


/* Favourites ======== */

#favourite_list{
	height: 300px; 
	background:brown;
}

#side-content-profile .pic-sq-grid{
	border-bottom: 1px solid rgba(255,255,255,0.3) ;
	width: 95%;
	margin: 0 2.5%;
}

#profile-left-col.profile-client-col{
	min-height: initial;
}

#load-more-comments{
	display: block;
	margin: 0 auto;
}