.inked.profileview .photo-tags strong,
.inked.profileview .photo-tags span{
	color: rgba(0,0,0,0.6);
}

/* Comments ======== */

.comments-section{
  border-bottom: 1px solid #c99241;
  padding-top: 5px;
  margin-top: 5px;
}

#profile-mid-col .pic-sq-grid{
	/* background: rgba(240,221,175,0.8); */
	margin-bottom: 15px;
}

#profile-mid-col .owner-comment{
  border-top: 2px solid #c99241;
  height: auto;
  padding: 15px 5px 5px 5px;
}

#comments_modal textarea{
	width: 100%;
	min-height: 125px;
}

#comments_modal .modal-header,
#comments_modal .modal-footer{
	border: none;
}


/* Favourites ======== */

#favourite_list{
	height: 300px; 
	background:brown;
}